.hook-item 
{
  padding: 25px;
  border-radius: 15px;
  background: white;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

h3 
{
  color: #8b4513;
  border-bottom: 2px solid #ffcc00;
  padding-bottom: 10px;
}

.button-group 
{
  display: flex;
  gap: 10px;
  justify-content: center;
}

button 
{
  cursor: pointer;
  background: #ffcc00;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  color: #5d4037;
  box-shadow: 0 4px 0 #e6b800;
}